@model AutoFocus_CodeFirst.Models.Suggestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Suggestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
