@model AutoFocus_CodeFirst.Models.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrSuburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrSuburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.BranchId })
    } |
    @Html.ActionLink("Back to List", "Index")
</p>
