@model IEnumerable<AutoFocus_CodeFirst.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrSuburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrSuburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.BranchId })
            } |
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.BranchId })
            } |
            @Html.ActionLink("Details", "Details", new { id = item.BranchId })

        </td>
    </tr>
}

</table>
