@model IEnumerable<AutoFocus_CodeFirst.Models.Rent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") <br />
    
</p>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cars.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentId }) |
                    @Html.ActionLink("Rate!", "Rating", new { id = item.RentId })
                </td>
            </tr>

        }
    </tbody>
</table>
    </div>
@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />



